#Mr Developer
settings-development.json
settings-production.json
*.cert
*.pem
node_modules/

*.bat
.vscode/typings/meteor.d.ts
*.sublime-workspace
public/docs/~$ik Sense SaaS demo tool setup instructions.docx
*.bak
*.sublime-workspace
*.sublime-workspace
