settings-development.json
settings-production.json
.build/
*.cert
*.pem
node_modules/
customerData/
.vscode/typings/meteor.d.ts
*.sublime-workspace
public/docs/~$ik Sense SaaS demo tool setup instructions.docx
*.bak

automation/virtualProxyServiceConfiguration.json
automation/virtualProxyServiceConfiguration.json
automation/virtualProxyServiceConfiguration.json
.automation/proxy/export/virtualProxyServiceConfiguration.json
.automation/securityrules/export/ExtractedSystemRules.json
.automation/proxy/export/virtualProxyServiceConfiguration.json
