/*CSS declarations go here */

.mainLandingImage {
    background-image: url('images/bg_intro.jpg');
    background-size: auto 500px;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: left;
}

.mainLandingImage .backGroundImageColor {
    content: "";
    background-color: #62ac1e;
    position: absolute;
    height: 500px;
    width: 40%;
    top: 0px;
    left: 0px;
    /* z-index: -100; */
}

.mainNavBar {
    margin-top: 0px !important;
    background-color: #62ac1e !important;
}

.mainNavBar a {
    color: white !important;
}

.mainNavBar .saasDemo {
    color: white !important;
}

.mainNavBar a.active.item {
    border-color: #E36E0F !important;
    /* color: #E36E0F !important; */
    font-size: 1.1em;
}

.mainContainerContent {
    padding: 30px 0px 30px 0px;
}

.saasDemo.active.item {
    border-color: #E36E0F !important;
}

.wrap {
    min-height: calc(100vh - 192px);
    margin-top: 10px;
}

.landing .selectRole {
    margin-top: 60px;
    color: white;
    height: 300px;
}

.row {
    padding: 14px !important;
}

.landing .secondRow {
    margin-top: 150px;
}

.footer {
    height: 150px;
    background-image: url('./images/bg_footer.jpg');
    background-size: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #F8F0E5;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 0;
}


/* 
.footer {
    .footer .sticky {
        position: absolute;
        bottom: 0;
        width: 100%;    
    }
    .container-fluid {
        height: 160px;
        background-image: url('./images/bg_footer.jpg');
        background-size: auto 100%;
        background-position: bottom right;
        background-repeat: no-repeat;  
        background-color: @color-tan;
        padding-top: 60px;
        padding-left: 0;
        ul {
            padding-left: 0;
            li {
                font-size: 18px;
                font-family: @font-oswald;
                display: inline-block;
                padding-right: 20px;
                text-transform: uppercase;
                .logo {
                    width: 110px;
                }
                a {
                    color: @color-gray;
                }
            }
        }
    }
} */

.deleteStream,
.customer-row,
.copyApp,
.deleteApp,
.markAsTemplate,
.deleteStream {
    cursor: pointer
}

.s-alert-success {
    background: #5EA819;
    /* your background color here */
    color: #fff/* your text color here */
}

.ui.segment.SSBI {
    min-height: 250px;
    max-width: 250px;
}

.ui.fixed.table.apiLogs td {
    overflow-wrap: break-word;
}

pre {
    white-space: pre-wrap;
}

.text.container .left.floated.image {
    margin: 2em 2em 2em -5em;
}

.text.container .right.floated.image {
    margin: 2em -4em 2em 5em;
}