/*CSS declarations go here */

html {
    background-color: #fff !important;
    min-height: 100%;
}

.mainNavBar {
    margin-top: 0px !important;
    background-color: #0E2F4E !important;
}

.mainNavBar a {
    color: white !important;
}

.mainNavBar .saasDemo {
    color: white !important;
}

.mainNavBar a.active.item {
    border-color: #E36E0F !important;
    /* color: #E36E0F !important; */
    font-size: 1.1em;
}

.mainContainerContent {
    padding: 30px 0px 30px 0px;
}

.saasDemo.active.item {
    border-color: #E36E0F !important;
}

.wrap {
    min-height: calc(100vh - 234px);
    margin-top: 10px;
}

.landing .selectRole {        
    height: 300px;
}

.row {
    padding: 14px !important;
}

/* .landing .secondRow {
    margin-top: 150px;
} */

.deleteStream,
.customer-row,
.copyApp,
.deleteApp,
.markAsTemplate,
.deleteStream {
    cursor: pointer
}

.s-alert-success {
    background: #5EA819;
    /* your background color here */
    color: #fff/* your text color here */
}

.ui.segment.SSBI {
    min-height: 250px;
    max-width: 250px;
}

.ui.fixed.table.apiLogs td {
    overflow-wrap: break-word;
}

pre {
    white-space: pre-wrap;
}

.text.container .left.floated.image {
    margin: 2em 2em 2em -5em;
}

.text.container .right.floated.image {
    margin: 2em -4em 2em 5em;
}