/*/*/

*
/*CSS declarations go here */

.mainLandingImage {
    /* max-width: 1400px; */
    background-image: url('images/bg_intro.jpg');
    background-size: auto 400px;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: left;
}

.mainNavBar {
    margin-top: 0px !important
}

.mainNavBar a {
    color: white;
}

.landing {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.landing .row {
    margin-left: 0px !important;
}

.landing .row.selectRole {
    margin-top: 60px;
    color: white;
}

.landing .documentation.row {
    position: absolute;
    color: black;
    top: 350px;
    margin-left: 0px;
}

.landing>.footer {
    flex: 1;
}

.footer {
    margin-top: 30px;
    width: 100%;
}

.ui.grid {
    margin-top: 0.2em;
}

.deleteStream,
.copyApp,
.deleteApp,
.markAsTemplate,
.deleteStream {
    cursor: pointer
}

.s-alert-success {
    background: #5EA819;
    /* your background color here */
    color: #fff/* your text color here */
}


/*.container {
    margin-top: 4em;
}*/

.ui.grid {
    margin-top: 0.2em;
}

.ui.segment.SSBI {
    min-height: 250px;
    max-width: 250px;
}

.ui.fixed.table.apiLogs td {
    overflow-wrap: break-word;
}

.deleteStream,
.copyApp,
.deleteApp,
.markAsTemplate,
.deleteStream {
    cursor: pointer
}

pre {
    white-space: pre-wrap;
}

.text.container .left.floated.image {
    margin: 2em 2em 2em -5em;
}

.text.container .right.floated.image {
    margin: 2em -4em 2em 5em;
}