<template name="layout">
    {{> containerlayout}}
    <!-- {{> nav}}
    <div class="ui relaxed grid container">
        <div class="one wide column">
        </div>
        <div class="fourteen wide column">
            {{> modals}} {{> sAlert}}
            {{> yield}}
        </div>
        <div class="one wide column">
        </div>
    </div>
    {{> footer}} -->
</template>



<template name="SSOLayout">
    {{> sAlert}} {{> yield}} 
    {{> footer}}
</template>

<template name="SlideGenerator">
    {{> sAlert}} {{> yield}} 
</template>

<template name="ImpressLayout">
    {{> nav}} {{> sAlert}} {{> yield}}
    {{> footer}}
</template>


<template name="SSBILayout">
    <div class="wrap">

        {{> yield "nav"}} {{> sAlert}}
        <div class="ui stackable grid">
            <div class="sixteen wide column">
                <div class="ui three column stackable grid">
                    <div class="five wide column" style="max-width: 350px; margin-left: 20px;"> {{> yield "aside"}} </div>
                    <div class="eleven wide column"> {{> yield}}</div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</template>


<template name="containerlayout">
    <div class="wrap">
        {{> nav}}
        <div class="ui container">
            {{> sAlert}} {{> modals}} {{> yield}}
        </div>
    </div>
    {{> footer}}
</template>

<template name="footer">
    <div class="footer">

        <div class="ui container">
            <img class="ui left floating image image" src="./images/qlik_logo.svg" style="height: 100px; padding-top: 30px;">

            <div class="ui three column grid">
                <div class="column">
                    <!-- <a href="/"><img src="./images/qlik_logo.svg" class="logo"></a>  -->
                </div>
                <!-- <div class="column"><a href="http://oem.qlik.com" target="_blank">OEM.QLIK.COM</a></div>
                <div class="column"> <a href="http://branch.qlik.com">BRANCH.QLIK.COM</a></div> -->

            </div>
        </div>
    </div>

</template>

<template name="impressFooter">
    {{#if nav}}
    <section class="general footer-top sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{nav.previous.link}}">{{nav.previous.text}}</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{{nav.next.link}}">{{nav.next.text}}</a>
                </div>
            </div>
        </div>
    </section>
    {{/if}}
    <section class="general footer sticky">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul>
                        <li><a href="/"><img src="./images/qlik_logo.svg" class="logo"></a></li>
                        <li><a href="http://oem.qlik.com" target="_blank">oem.qlik.com</a></li>
                        <li><a href="http://branch.qlik.com">BRANCH.QLIK.COM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</template>
<template name="SSBIFooter">
    {{#if nav}}
    <section class="general footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{nav.previous.link}}">{{nav.previous.text}}</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{{nav.next.link}}">{{nav.next.text}}</a>
                </div>
            </div>
        </div>
    </section>
    {{/if}}
    <section class="general footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul>
                        <li><a href="/"><img src="./images/qlik_logo.svg" class="logo"></a></li>
                        <li><a href="http://oem.qlik.com" target="_blank">oem.qlik.com</a></li>
                        <li><a href="http://branch.qlik.com">BRANCH.QLIK.COM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>
<template name="documentationFooter">
    {{#if nav}}
    <section class="general footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{nav.previous.link}}">{{nav.previous.text}}</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{{nav.next.link}}">{{nav.next.text}}</a>
                </div>
            </div>
        </div>
    </section>
    {{/if}}
    <section class="general footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul>
                        <li><a href="/"><img src="./images/qlik_logo.svg" class="logo"></a></li>
                        <li><a href="http://oem.qlik.com" target="_blank">oem.qlik.com</a></li>
                        <li><a href="http://branch.qlik.com">BRANCH.QLIK.COM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>


<template name="loginDimmer">
    <div class="ui container" style="height: 500px;">
        <div class="ui inverted dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui indeterminate text loader">Please wait while we log you in via your Qlik.com account...</div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="modals">
    {{> modalSSBI}} {{> modalStepByStep}} {{> modalSaaSautomation}}
</template>
<template name="modalSSBI">
    <div class="ui modal SSBI">
        <div class="ui icon message">
            <!--             <img class="icon" src="images/securityRules.png">
 -->
            <div class="content">
                <div class="header">
                    <h4>Example layered approach to the self service functionality</h4>
                </div>
                <p>Example process which you can implement by using a mix between the authorizations from your SaaS platform
                    and the Qlik Sense security rules.</p>
            </div>
        </div>
        <img class="ui fluid image" src="/images/SelfServiceBI.png">
        <div class="description">
            <p></p>
        </div>
        <div class="actions">
            <!-- <div class="ui black deny button">
                    Nope
                </div> -->
            <div class="ui positive right labeled icon button">
                I got it...
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>
<template name="modalStepByStep">
    <div class="ui modal stepByStep">
        <div class="ui icon message">
            <img class="icon" src="images/intro.png">
            <div class="content">
                <div class="header">
                    <h4>Step by step guide on how to use this demo platform</h4>
                </div>
                <!-- <p>This video is just a selection of the extended introduction video. This video shows you "where to click". Please watch the extended video for a complete overview. You can also watch a specific video from the "video menu" in the top menu.</p> -->
            </div>
        </div>
        <div class="ui one column centered grid">
            <div class="column centered">
                <iframe width="854" height="480" src="https://www.youtube.com/embed/T9a3s5cnvPE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                I got it...
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>
<template name="modalSaaSautomation">
    <div class="ui modal APIAutomation">
        <div class="ui icon message">
            <img class="icon" src="images/API.png">
            <div class="content">
                <div class="header">
                    <h4>What are the key concepts of SaaS provisioning using Qlik Sense?</h4>
                </div>
                <p>This video highlights the concepts of SaaS provisioning. In will explain you the concept of template apps,
                    the broker, and that we will create a copy of the template for each of your customers.</p>
            </div>
        </div>
        <div class="ui one column centered grid">
            <div class="column centered">
                <iframe width="854" height="480" src="{{URL_Youtube_concept_behind}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                I got it...
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>