<template name="SSOLayout">
    {{> sAlert}} {{> yield}}
</template>
<template name="layout">
    <div class="ui relaxed very padded stackable grid">
        <div class="one wide column">
        </div>
        <div class="fourteen wide column">
            {{> nav}} {{> modals}} {{> sAlert}}
            {{#if currentUser}}
                {{> yield}}
           <!--  {{else}}
                {{> loginDimmer}} -->
            {{/if}}
        </div>
        <div class="one wide column">
        </div>
    </div>
    {{> footer}}
</template>
<template name="loginDimmer">
    <div class="ui container" style="height: 500px;">
        <div class="ui inverted dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui indeterminate text loader">Please wait while we log you in via your Qlik.com account...</div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="layoutDocumentation">
    <div class="ui relaxed very padded stackable grid">
        <div class="one wide column">
        </div>
        <div class="fourteen wide column">
            {{> nav}} {{> modals}} {{> sAlert}} {{> yield}}
        </div>
        <div class="one wide column">
        </div>
    </div>
    {{> footer}}
</template>
<template name="presentationLayout">
    {{#if unsupportedBrowser}}
        <div class="ui text container">
            <div class="ui icon message">
                <i class="warning sign icon"></i>
                <div class="content">
                    <div class="header">
                        Not supported browser or mobile device
                    </div>
                    <p>This slide generator can't be used on your mobile or with some browsers. Please use your laptop using a browser like Chrome, Safari or Firefox... </p>
                    <p><a href="{{pathFor 'useCaseSelection'}}" class="ui right floated button">Take me home</a> </p>
                </div>
            </div>
        </div>
    {{else}}
        {{> yield}}
        <!-- FAKE IFRAME TO KEEP THE CONNECTION TO QLIK SENSE OPEN WHILE WE CONNECT TO ANOTHER PAGE -->
        {{#if userSelectedPresentationType}}
            <iframe src="{{IFrameURLChapterSelection}}" style="width:0;height:0;border:0; border:none;visibility:hidden;display:none" seamless="seamless"></iframe>
        {{/if}}
    {{/if}}
</template>
<template name="footer">
    <div id="footer" class="ui footer page one column grid">
        <div class="column">
            <div class="ui divider"></div>
            Integration approach, demo site, documentation and videos created by Martijn Biesbroek & Raymond Neves. Review by Catherine Frye, QVF design by Patrick Tehubijuluw. Voice-over Stephen Jasionowski. See the terms of usage of this site <a href="{{pathFor 'legal'}}">here</a>.
        </div>
    </div>
</template>
<template name="modals">
    {{> modalSSBI}} {{> modalStepByStep}} {{> modalSaaSautomation}}
</template>
<template name="modalSSBI">
    <div class="ui modal SSBI">
        <div class="ui icon message">
            <!--             <img class="icon" src="images/securityRules.png">
 -->
            <div class="content">
                <div class="header">
                    <h4>Example layered approach to the self service functionality</h4>
                </div>
                <p>Example process which you can implement by using a mix between the authorizations from your SaaS platform and the Qlik Sense security rules.</p>
            </div>
        </div>
        <img class="ui fluid image" src="/images/SelfServiceBI.png">
        <div class="description">
            <p></p>
        </div>
        <div class="actions">
            <!-- <div class="ui black deny button">
                    Nope
                </div> -->
            <div class="ui positive right labeled icon button">
                I got it...
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>
<template name="modalStepByStep">
    <div class="ui modal stepByStep">
        <div class="ui icon message">
            <img class="icon" src="images/intro.png">
            <div class="content">
                <div class="header">
                    <h4>Step by step guide on how to use this demo platform</h4>
                </div>
                <!-- <p>This video is just a selection of the extended introduction video. This video shows you "where to click". Please watch the extended video for a complete overview. You can also watch a specific video from the "video menu" in the top menu.</p> -->
            </div>
        </div>
        <div class="ui one column centered grid">
            <div class="column centered">
                <iframe width="854" height="480" src="https://www.youtube.com/embed/T9a3s5cnvPE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                I got it...
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>
<template name="modalSaaSautomation">
    <div class="ui modal APIAutomation">
        <div class="ui icon message">
            <img class="icon" src="images/API.png">
            <div class="content">
                <div class="header">
                    <h4>What are the key concepts of SaaS provisioning using Qlik Sense?</h4>
                </div>
                <p>This video highlights the concepts of SaaS provisioning. In will explain you the concept of template apps, the broker, and that we will create a copy of the template for each of your customers.</p>
            </div>
        </div>
        <div class="ui one column centered grid">
            <div class="column centered">
                <iframe width="854" height="480" src="{{URL_Youtube_concept_behind}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                I got it...
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>
