<template name="unsupportedBrowser">
 <div class="ui text container">
            <div class="ui icon message">
                <i class="warning sign icon"></i>
                <div class="content">
                    <div class="header">
                        Not supported browser or mobile device
                    </div>
                    <p>This slide generator can't be used on your mobile or with some browsers. Please use your laptop using a browser like Chrome, Safari or Firefox... </p>
                    <p><a href="{{pathFor 'useCaseSelection'}}" class="ui right floated button">Take me home</a> </p>
                </div>
            </div>
        </div>
</template>