<template name="landingPage">
    <div class="ui container">
     {{> nav }} 
        <div class="ui two column centered grid">
            <div class="column">
             
            </div>
            <div class="four column centered row">
                <div class="column"></div>
                <div class="column"></div>
            </div>
        </div>{{> yield }} {{> footer }}
      </div>
</template>


<template name="regionLayout">{{>yield "nav"}} {{> sAlert}}
    <div class="ui relaxed very padded stackable grid">
        <!--  <div class="one wide column">
        </div> -->
        <div class="sixteen wide column">
            <div class="ui three column stackable grid">
                <div class="five wide column">{{> yield "aside"}}</div>
                <div class="eleven wide column">{{> yield}}</div>
            </div>
        </div>
        <!--  <div class="one wide column">
        </div> -->
    </div>{{>footer}}</template>