<template name="mainLandingPage">
    <div class="ui container ">
     {{> nav }} 
        {{> yield }} 
       
      </div>
      {{> footer }}
</template>


<template name="regionLayout">{{>yield "nav"}} {{> sAlert}}
    <div class="ui relaxed very padded stackable grid">
        <!--  <div class="one wide column">
        </div> -->
        <div class="sixteen wide column">
            <div class="ui three column stackable grid">
                <div class="five wide column">{{> yield "aside"}}</div>
                <div class="eleven wide column">{{> yield}}</div>
            </div>
        </div>
        <!--  <div class="one wide column">
        </div> -->
    </div>{{>footer}}</template>