#impress {
    /*font-family: 'PT Sans', sans-serif;*/
    min-height: 740px;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

.SSBIIFrame {
    height: calc(100vh - 150px);
    width: 100%;
    border: none;
}

.frame {
    display: block;
    position: absolute;
    /*top: 45px;*/
    overflow: hidden;
    width: 100vw;
    height: calc(100% - 60px);
    /*//add height for other browsers too*/
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

.selector {
    height: calc(100% - 5px);
    width: inherit;
    overflow: hidden;
}

.impress-enabled .z.step {
    margin: 0;
    opacity: 0.3;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.impress-enabled .z.step.active {
    opacity: 1
}

.z.step.ui.segment.integrationBreaker {
    background-image: url("/images/Qlik breaker.png");
    width: 1100px;
    height: 800px;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    top: 20px;
}

/*.slide.one {
    background-image: url("/images/Qlik_Leftcorner_Icon.png");
    height: 800px;
    background-repeat: no-repeat;
    background-position: left top;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: rgb(102, 102, 102);
}
*/
.z.step.ui.segment.integration {
    /*font-size: 1.5em;*/
    min-height: 600px;
    max-height: calc(100vh);
    width: 1000px !important;
    overflow: auto;
    padding: 40px;
    background-image: url("/images/Qlik_Leftcorner_Icon.png");
    background-repeat: no-repeat;
    background-position: left top;
}


/*HEADER*/

.integration.main.header {
    margin-top: 10px 0 0 160px;
    font-size: 1.3em;
}


/*SLIDE CONTENT CONTAINER*/

.slideContent {
    margin-top: 60px;
}


/*YOUTUBE*/

.integration .embed {
    margin-top: 80px;
    /*width: 900px;*/
}


/*LEVEL 3 MARKDOWN GENERATED CODE*/

.segment.integration .markdownItem {
    margin-left: 60px
}

.step.integration p {
    font-size: 1.3em;
}

.step.integration q {
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 110px;
}

.markdownItem {
    margin-top: 20px;
}

/*.integration q strong {
    white-space: nowrap;
}*/

.integration em, .slide q {
    color: #5ea819;
}

.step.integration blockquote p {
    color: #5EA819;
    font-size: 2em;
    text-align: center;
}

.integration .image {
    margin-top: 40px;
    width: 900px;
}

.pusher .ui.message {
    /*position: absolute;*/
    background-color: white;
    /*font-size: 1.5em;*/
    /*top: 400px;*/
    /*left: 600px;*/
    width: 50%;
    /*margin: -15% 0 0 -25%;*/
}

.pusher .message .image {
    margin: 20px;
}

.thankYou {
    overflow: auto;
    margin: 70px;
    display: block;
    width: 900px;
    min-height: 600px;
    max-height: 100vh;
    /*height: 100%;*/
    padding: 40px 60px;
}

section {
    position: relative;
    z-index: 1;
    /* needed for setting pseudo-element z-index */
    backface-visibility: hidden;
}


/*INTRODUCTION PRESENTATION*/

.step.introduction {
    width: 1000px;
    font-size: 2em;
}

.slide.introduction q {
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 110px;
}

q {
    text-align: center;
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}


/*
    Now let's bring some text styles back ...
    */

b,
strong {
    font-weight: bold
}

i,
em {
    font-style: italic
}

#APIUseCases {
    font-size: 2em;
}


/*hide the fallback message if impress is supported*/

.impress-supported .fallback-message {
    display: none;
}


/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
    */


/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
    */


/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    ;)

    They cover everything what you see on first three steps of the demo.
    */

#title {
    padding: 0;
}

#title .try {
    font-size: 64px;
    position: absolute;
    top: -0.5em;
    left: 1.5em;
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    -ms-transform: translateZ(20px);
    -o-transform: translateZ(20px);
    transform: translateZ(20px);
}

.title h1 {
    font-size: 120px;
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
}

#title .footnote {
    font-size: 32px;
}


/*
    Second step is nothing special, just a text with a link, so it doesn't need
    any special styling.

    Let's move to 'big thoughts' with centered text and custom font sizes.
    */

.big {
    width: 600px;
    text-align: center;
    font-size: 180px;
    line-height: 1;
}

#big b {
    display: block;
    font-size: 250px;
    line-height: 250px;
}

#big .thoughts {
    font-size: 90px;
    line-height: 150px;
}


/*
    'Tiny ideas' just need some tiny styling.
    */

#tiny {
    width: 500px;
    text-align: center;
}

.video p {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

#demoStep3 {
    width: 500px
}

#demoStep4 {
    width: 500px;
    font-size: 28px;
    text-align: center;
}


/*
    ... so we define display to `inline-block` to enable transforms and
    transition duration to 0.5s ...
    */

#demoStep3 b {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#APIUseCases {
    font-size: 22px;
}

#APIUseCases .title {
    font-size: 40px;
}

#APIUseCases li {
    font-size: 0.8em;
    line-height: 30px;
}

#sourceCode .buttons {
    margin-top: 30px;
}


/*
    ... and we want 'positioning` word to move up a bit when the step gets
    `present` class ...
    */

.present .positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}


/*
    ... 'rotating' to rotate a quarter of a second later ...
    */

.present .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    transition-delay: 0.25s;
}


/*
    ... and 'scaling' to scale down after another quarter of a second.
    */

.present .scaling {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}


/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.

    */

#overview {
    display: none
}


/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
    */

.impress-on-overview .z.step {
    opacity: 1;
    cursor: pointer;
}


/*.future {
  display: none;
}
*/


/*
    Now, when we have all the steps styled let's give users a hint how to navigate
    around the presentation.

    The best way to do this would be to use JavaScript, show a delayed hint for a
    first time users, then hide it and store a status in cookie or localStorage...

    But I wanted to have some CSS fun and avoid additional scripting...

    Let me explain it first, so maybe the transition magic will be more readable
    when you read the code.

    First of all I wanted the hint to appear only when user is idle for a while.
    You can't detect the 'idle' state in CSS, but I delayed a appearing of the
    hint by 5s using transition-delay.

    You also can't detect in CSS if the user is a first-time visitor, so I had to
    make an assumption that I'll only show the hint on the first step. And when
    the step is changed hide the hint, because I can assume that user already
    knows how to navigate.

    To summarize it - hint is shown when the user is on the first step for longer
    than 5 seconds.

    The other problem I had was caused by the fact that I wanted the hint to fade
    in and out. It can be easily achieved by transitioning the opacity property.
    But that also meant that the hint was always on the screen, even if totally
    transparent. It covered part of the screen and you couldn't correctly clicked
    through it.
    Unfortunately you cannot transition between display `block` and `none` in pure
    CSS, so I needed a way to not only fade out the hint but also move it out of
    the screen.

    I solved this problem by positioning the hint below the bottom of the screen
    with CSS transform and moving it up to show it. But I also didn't want this move
    to be visible. I wanted the hint only to fade in and out visually, so I delayed
    the fade in transition, so it starts when the hint is already in its correct
    position on the screen.

    I know, it sounds complicated ... maybe it would be easier with the code?
    */

.hint {
    /*
        We hide the hint until presentation is started and from browsers not supporting
        impress.js, as they will have a linear scrollable view ...
        */
    display: none;
    /*
        ... and give it some fixed position and nice styles.
        */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100px;
    background: rgba(0, 0, 0, 0.5);
    color: #EEE;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    z-index: 100;
    /*
        By default we don't want the hint to be visible, so we make it transparent ...
        */
    opacity: 0;
    /*
        ... and position it below the bottom of the screen (relative to it's fixed position)
        */
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);
    /*
        Now let's imagine that the hint is visible and we want to fade it out and move out
        of the screen.

        So we define the transition on the opacity property with 1s duration and another
        transition on transform property delayed by 1s so it will happen after the fade out
        on opacity finished.

        This way user will not see the hint moving down.
        */
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition: opacity 1s, -moz-transform 0.5s 1s;
    -ms-transition: opacity 1s, -ms-transform 0.5s 1s;
    -o-transition: opacity 1s, -o-transform 0.5s 1s;
    transition: opacity 1s, transform 0.5s 1s;
}


/*
    Now we 'enable' the hint when presentation is initialized ...
    */

.impress-enabled .hint {
    display: block
}


/*
    ... and we will show it when the first step (with id 'bored') is active.
    */


/*.impress-on-bored .hint {*/

.impress-on-step-1 .hint {
    /*
        We remove the transparency and position the hint in its default fixed
        position.
        */
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    /*
        Now for fade in transition we have the oposite situation from the one
        above.

        First after 4.5s delay we animate the transform property to move the hint
        into its correct position and after that we fade it in with opacity
        transition.
        */
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition: opacity 1s 5s, -moz-transform 0.5s 4.5s;
    -ms-transition: opacity 1s 5s, -ms-transform 0.5s 4.5s;
    -o-transition: opacity 1s 5s, -o-transform 0.5s 4.5s;
    transition: opacity 1s 5s, transform 0.5s 4.5s;
}


/*PROGRESSBAR*/

.progressbar {
    position: absolute;
    right: 118px;
    bottom: 15px;
    left: 118px;
    border-radius: 7px;
    border: 2px solid rgba(100, 100, 100, 0.2);
}

.progressbar DIV {
    width: 0;
    height: 10px;
    border-radius: 5px;
    background: rgba(75, 75, 75, 0.4);
    -webkit-transition: width 1s linear;
    -moz-transition: width 1s linear;
    -ms-transition: width 1s linear;
    -o-transition: width 1s linear;
    transition: width 1s linear;
}

.progress-off {
    z-index: 2999;
}

.progress {
    position: absolute;
    right: 50px;
    bottom: 15px;
    text-align: right;
}


/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.

    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.

    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events

    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.

    So use it wisely ... or don't use at all.
    */


/*.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }*/


/*
    There is one funny thing I just realized.

    Thanks to this workaround above everything except #impress element is invisible
    for click events. That means that the hint element is also not clickable.
    So basically all of this transforms and delayed transitions trickery was probably
    not needed at all...

    But it was fun to learn about it, wasn't it?
    */


/*
    That's all I have for you in this file.
    Thanks for reading. I hope you enjoyed it at least as much as I enjoyed writing it
    for you.
    */
